@using MVCClient.Model
@model IEnumerable<MVCClient.Model.Consumer>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>User Details</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        @*</tr>
        <tr>*@
            <th>
                Address
            </th>
        @*</tr>
        <tr>*@
            <th>
                Telephone
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var consumer in Model)
        {
            <tr>
                <td>
                    @consumer.Name
                </td>
            @*</tr>
            <tr>*@
                <td>
                    @consumer.Address
                </td>
            @*</tr>
            <tr>*@
                <td>
                    @consumer.Telephone
                </td>
            </tr>

        }
    </tbody>
</table>